* {
  padding: 0;
  border: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .box {
  width: 100%;
  max-width: 640px;
  padding: 20px 10px;
  background-color: brown;
  border-radius: 6px;
  margin-bottom: 18px;
}

.container .box .content {
  padding: 20px 30px;
}

.container .box .content .box_field {
  display: flex;
}

.container .box .content .field {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
  }

.container .box .content .field:first-child{
  margin-right: 15px;
}

.container .box .content .field label{
  font-size: 1.5rem;
  color: rgb(238, 238, 238);
  margin-bottom: 7px;
}
.container .box .content .field input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.container .box .box_button_generate {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container .box .box_button_generate button {
  width: 50%;
  background-color: forestgreen;
  color: #fff;
  padding: 8px;
  border-radius: 8px;
  font-weight: 500;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.2s;
  
}

.container .box_result {
  width: 100%;
  max-width: 640px;
  padding: 20px 30px;
  background-color: dodgerblue;
  border-radius: 6px;
}

.container .box_result .field_result {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.container .box_result .field_result > span {
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
}

.container .box_result .field_result input {
  padding: 7px;
  background-color: transparent;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  margin-bottom: 7px;
  font-weight: lighter;
  outline: 0;
}

.container .box_result .field_result button{
  background-color: darkgreen;
  color: #fff;
  padding: 8px;
  border-radius: 8px;
  font-weight: 500;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.2s;
}


.container .box_result .field_result button:hover {
  background-color: rgb(0, 66, 0);
}

.container .box_result .field_result button:active { 
  background-color: rgb(0, 134, 0);

}

.container .box_result .field_result .tooltip {
  position: relative;
  display: inline-block;
}

.container .box_result .field_result  .tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  font-size: 10px;
  font-weight: 300;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.container .box_result .field_result  .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.container .box_result .field_result .tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
